/* Button Position dari Provinsi */

  .aceh {
    width: 110px;
    height: 110px;
    display: inline-block;
    position: absolute; 
    top: 80px;
    left: 16px;
    
    background-image: url(img/provinsi/Aceh-01.png);
    background-size:90px;
    background-repeat: no-repeat;
    
  }

  .aceh:hover { 
    border: solid;   
    top: 77px;
    left: 13px;
    background-color: gold;
    
  }




/*  */






* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General */
body {
    font-family: "Lato", sans-serif;
  }

.utama {
    margin-top: 35px;
    height: 91.5vh;
    background-color: #83BCC5;

}

.container .utama {
    width: 100vw;
    position: relative;    
    background-color: #83BCC5;
}

.pulau {
  background-position: center;
    overflow:auto;
}

.pulau img {
  margin-top: 80px;
  width: 1080px;
}


p {
    text-align: justify;
}

.row {
  padding: 5px;
}

h2,h3,h4,h5,p{
  color: white;
}

.black {
color: #111;
}
/* Akhir General */


/* search */
.search{
  display:inline;
}
/* akhir search */


/* costumisasi menu pakaian adat */
.jenisPakaian {
  height: 50vh;
}

.jenisPakaian #bajuAdat {
  overflow:auto;
}

.namaTari {
  overflow: auto;
  height: 50vh;
}

#isisubBajuTari {
  overflow: auto;
  width: 120%;
  height: 50vh;
}

.jenisPakaian #bajuPernikahan {
  overflow:auto;
}
/* akhir costumisasi menu pakaian adat */



/* costumisasi Sidenav */
/* umum */
.sidenav {
    transform: translateX(100%);
    margin-top: 5vh;
    height: 100vh;
    width: 65%;
    padding: 10px;
    position: fixed; /*sesuai banyak konten*/
    z-index: 1; /*layer*/
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.9);
    overflow: auto;
    transition: transform 0.5s;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    margin-left: -20px;
    position: absolute;
    padding-left: 30px;
    margin-top: -5px;
    top: 0;
    left: 0;
    font-size: 30px;
  }

  /* akhir umum */

  /* pilihan */
  

  /* akhir pilihan */

  /* detail */
  .table {
    overflow-y:scroll;
    height:200px;
    display:block;
    width: 100%;
    font-size: 12px;
    overflow:auto;
  }

  .sidenav .tombolckc {
    position: relative;
    margin-bottom:50px;
  }

  .sidenav .ckc {
    color: rgb(182, 27, 27);
    background-color: aqua;
  }

  /* akhir detail */



/* costumisasi Sidenav */


/* Responsive */
/* layar 720p */
  @media only screen and (max-width:1500px) {
    
    .pulau {
      background-position: center;
        overflow:auto;
    }
    
    .pulau img {
      width: 1080px;
      margin-top: 30px;
    }

    .aceh {
      top: 30px;
      left: 16px;
    }

    .aceh:hover {
      top: 27px;
      left: 13px;
    }
    
  }

  @media only screen and (max-width:1200px) {

    .sidenav {
      width:100%;
    }

    .pulau img {
      width: 1080px;
      margin-top: 20px;
    }

    .aceh {
      top: 20px;
      left: 1px;
    }

    .aceh:hover {
      top: 17px;
      left: -2px;
    }
    
  }


  @media only screen and (max-width:1000px) {

    .sidenav {
      width:100%;
    }

    .pulau img {
      width: 1080px;
      margin-top: 10px;
    }

    .aceh {
      top: 10px;
      left: 1px;
    }

    .aceh:hover {
      top: 7px;
      left: -2px;
    }
    
  }

/* Akhir Responsive */













/* untuk slide gambar ====================================================================================  */

  /*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -50%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
      margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
  }
  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }
  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}


/* akhir untuk slide gambar ====================================================================================  */